{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "extra-rules"],
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "double"],
    "indent": ["error", 2],
    "no-new-object": "error",
    "object-shorthand": "error",
    "quote-props": "warn",
    "no-var": "warn",
    "no-array-constructor": "warn",
    "linebreak-style": ["warn", "unix"],
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-explicit-any": "off"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ]
}